body {
    background-color: #f7f7f7;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    border-radius: 2px !important;
}

.box {
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    padding: 15px 0;
}

#content > div:first-child {
    
}

#footer {
    background-color: #e1e1e1;
    padding: 20px 15px 50px 15px;
    margin-top: 15px;
    width: 100%;
}

#footer div {
    text-align: center;
}

.title {
    color: #555 !important;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.inp-id {
    width: 150px !important;
}

.inp-text {
    max-width: 700px !important;
}

