{% extends "base.html" %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ cssPath }}datagrid.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ rootLink }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ rootLink }}employee">Funcionários</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar</li>
{% endblock %}

{% block content %}
    {% if message %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endif %}

    <div id="employee-option" class="container-fluid">
        <h4 class="title">Funcionários</h4>
        <hr>
        <a class="btn btn-primary btn-insert"  href="{{ rootLink }}employee/register">Cadastrar funcionário</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Cargo</th>
                <th>Nascimento</th>
                <th>Admissão</th>
                <th>País</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.nome }}</td>
                    <td>{{ employee.sobrenome }}</td>
                    <td>{{ employee.titulo }}</td>
                    <td>{{ employee.dt_nascimento }}</td>
                    <td>{{ employee.dt_admissao }}</td>
                    <td>{{ employee.pais }}</td>
                    <td>{{ employee.cidade }}</td>
                    <td>{{ employee.fone }}</td>
                    <td class="min">
                        <a class="btn btn-primary" href="{{ rootLink }}employee/update/{{ employee.codigo }}">
                            Alterar
                        </a>
                        <form action="{{ rootLink }}employee/delete" method="post">
                            <input type="hidden" name="id" value="{{ employee.codigo }}">
                            <button class="btn btn-danger" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>

{% endblock %}

{% block script %}
{{ parent() }}
    <script src="{{ jsPath }}employee.js"></script>
{% endblock %}