{% extends "base.html" %}

{% block styles %}
{{ parent() }}
<style>
    #employee-option {
        margin: 20px 0;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ rootLink }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ rootLink }}employee">Funcionários</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar</li>
{% endblock %}

{% block content %}

    <div id="employee-option" class="container-fluid">
        <h4 class="title">Funcionários</h4>
        <hr>
        <button class="btn btn-danger btn-delete">Excluir selecionados</button>
        <a class="btn btn-primary btn-insert"  href="{{ rootLink }}employee/register">Cadastrar funcionário</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Cargo</th>
                <th>Nascimento</th>
                <th>Admissão</th>
                <th>País</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="emplyee{{ employee.codigo }}">
                        <label class="custom-control-label" for="emplyee{{ employee.codigo }}"></label>
                        </div>
                    </td>
                    <td>{{ employee.nome }}</td>
                    <td>{{ employee.sobrenome }}</td>
                    <td>{{ employee.titulo }}</td>
                    <td>{{ employee.dt_nascimento }}</td>
                    <td>{{ employee.dt_admissao }}</td>
                    <td>{{ employee.pais }}</td>
                    <td>{{ employee.cidade }}</td>
                    <td>{{ employee.fone }}</td>
                    <td class="min">
                        <a href="{{ rootLink }}employee/update/{{ employee.codigo }}">
                            Alterar
                        </a>
                    </td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>

{% endblock %}

{% block script %}
{{ parent() }}
    <script src="{{ jsPath }}employee.js"></script>
{% endblock %}